:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  /* background-image: url("/calculatorbg.png") !important; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: sans-serif;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ******************* HOME **************  */

@media (max-width: 768px) {
  .home-mainContainer {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 2rem !important;
  }
  .homeTitle {
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 40% !important;
    display: flex;
    justify-content: center;
    align-items: left;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .home-phoneImage {
    margin: auto !important;
    width: 50% !important;
    margin-top: 4rem !important;
  }
  .home-imgPhone {
    margin: auto !important ;
    width: 300px !important;
    height: auto;
  }
  .home-imgPhone2 {
    width: 560px;
    height: auto;
    margin: 0;
    display: none;
  }

  .flip-box {
    background-color: transparent;
    perspective: 1000px;
    height: auto;
  }
  .flip-box-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(0deg) rotateX(0deg) !important;
  }
  .flip-box-front,
  .flip-box-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-box-front {
    position: static !important;
  }
  .flip-box-back {
    position: static !important;
    color: white;
    transform: rotateY(180deg);
  }

  .home-myHobbies {
    width: 100% !important;
    margin-left: 0rem !important;
  }
  .hobby-Footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    align-items: left !important;
    justify-content: left !important;
  }
  .hobby-Footer {
    display: flex;
    gap: 4rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .hobby-Footer {
    display: flex;
    gap: 0rem !important;
    margin: auto;
    width: 80%;
  }
  .hobby-Footer div {
    width: 100%;
    height: 0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 3rem !important;
  }
  .homeBottomUpper {
    margin-top: 4rem !important;
    margin: auto;
    width: 46% !important;
    text-align: left !important;
    margin-bottom: 6rem !important;
  }
  .homeBottomImg img {
    width: 600px !important;
    height: 350px;
  }
  .homeBottomImg {
    margin-bottom: 2rem !important;
  }
}

.home-Main {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.home-Headline {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  padding-block: 8rem;
}
.homeTitle {
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: left;
  color: white;
  display: flex;
  flex-direction: column;
}
.homeTitle h5 {
  color: #bab9b9;
}
.home-mainContainer {
  padding-top: 6rem;
  margin: auto;
  width: 80%;
  display: flex;
  margin-bottom: 10rem;
}
.home-myHobbies {
  margin-left: 8rem;
  width: 60%;
}
.homeContent {
  text-align: left;
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5b5e6e;
}
.homeContent h3 {
  font-size: 1.5rem !important;
}

.home-innerMain {
  margin: auto;
  padding: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-Card {
  margin-block: 2rem;
  margin-inline: auto;
  width: 50% !important;
  text-align: left;
}

.home-Headline {
  width: 50%;
  margin: auto;
  text-align: left;
}

.home-Buttons {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.home-insideButton {
  width: 100%;
}

.home-phoneImage {
  margin-right: 10rem !important;
  width: 50%;
}
.home-imgPhone {
  margin-left: 9.5rem;
  width: 350px;
  height: auto;
}
.home-imgPhone2 {
  width: 665px;
  height: auto;
  margin: 0;
}
.homeDesignBottomContent p {
  color: #5b5e6e;
  font-size: 1rem;
  font-weight: 500;
}

.flip-box {
  background-color: transparent;
  perspective: 1000px;
  height: auto;
}
.flip-box-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s ease-in-out;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(360deg);
}
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front {
  color: black;
}
.flip-box-back {
  color: white;
  transform: rotateY(180deg);
}

.homeBottomUpper {
  margin-top: 4rem !important;
  margin: auto;
  width: 50%;
  text-align: left !important;
  margin-bottom: 6rem !important;
}

/* *********CALCULATOR************** */
@media (max-width: 1000px) {
  .calculator-Main {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .calculator-innerMain {
    margin: auto;
    border: transparent !important;
    padding: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calculator-Title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100% !important;
    align-items: center;
    background-color: #171717;
    padding-block: 8rem;
  }
  .calculator-Title h1 {
    color: whitesmoke;
  }
  .calculator-Title h3 {
    font-size: 1rem;
    font-weight: bold;
    color: gray;
  }
  .calculator-inputContent {
    width: 100% !important;
    padding-top: 2rem !important;
    font-size: 2rem;
    border-radius: 10px 10px 0px 0px !important;
    text-align: right !important;
    background-color: #454647;
    color: white !important;
  }
  .calculator-Input {
    width: 100%;
  }
  .calculator-UI {
    display: none;
  }
  .calculator-UI2 {
    display: block !important;
    width: 40% !important;
    margin-top: 6rem;
    margin-bottom: 4rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .calculator-buttonNumber {
    display: flex;
    flex-wrap: wrap;
  }

  .calculator-Last {
    width: calc(25%) !important;
    padding-block: 0.5rem;
    border-radius: 1%;
  }

  .calculator-First {
    width: calc(25%) !important;
    padding-block: 0.5rem;
    border-radius: 1%;
  }
  .calculator-Secondary {
    background-color: #ff9500;
    border-top: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
  }
  .calculatorGray {
    border-top: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    background-color: #505050;
  }
  .calculatorDark {
    background-color: gray;
    border-top: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
  }

  .calculator-textRight {
    text-align: right;
  }

  .calculatorIcon {
    padding-top: 4rem !important;
  }
  .toolTip {
    cursor: pointer;
    z-index: 20;
    padding: 0;
    position: relative !important;
  }
  .toolTip .toolTipDiv {
    transform: translate(23.5%, 350%) !important;
  }
  .calculator-imgDiv {
    position: relative;
    padding-block: 2rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative !important;
  }
  .calculator-imgDiv img {
    width: 40px !important;
    height: 40px !important;
  }
  .toolTip img {
    position: absolute !important;
  }
  .toolTip img {
    transform: translate(-320%, 80%) !important;
  }
  .tooltipText {
    background-color: #353839;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    font-size: 0.75rem;
    color: whitesmoke;
    visibility: hidden;
    transition: opacity 0.5s ease;
    opacity: 0;
    border-radius: 7px;
    left: 100%;
  }
  .tooltipText::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-980%) !important;
    border: 15px solid;
    border-color: #353839 #3530 #3530;
  }
  .toolTip:hover .tooltipText {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
  }
  .calculatorLaptop {
    height: 500px !important;
    width: 650px !important;
    z-index: 1;
  }
  .calculator-largeContainer {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  .calculator-largeContainer .calculator-rightDesign {
    z-index: 20;
    position: absolute;
  }
  .calculator-largeContainer .calculator-leftDesign {
    z-index: 20;
    position: absolute;
  }
  .calculator-largeContainer .calculatorSideDesign {
    visibility: hidden;
    width: 250px;
    height: 350px;
    transform: translate(0px, -220px);
  }
  .calculator-innerMain-Main {
    z-index: 10;
    position: fixed;
    background-color: white !important;
    top: 0;
    z-index: 500;
    padding-bottom: 40rem;
    padding-top: 2rem !important;
  }
}

.calculator-Main {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.calculator-innerMain {
  margin: auto;
  border: transparent !important;
  padding: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.calculator-innerMain-Main {
  z-index: 10;
  position: fixed;
  background-color: white !important;
  top: 0;
  z-index: 500;
  padding-bottom: 40rem;
  padding-top: 8rem;
}
.calculator-Title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100% !important;
  align-items: center;
  background-color: #171717;
  padding-block: 8rem;
}
.calculator-Title h1 {
  color: whitesmoke;
}
.calculator-Title h3 {
  font-size: 1rem;
  font-weight: bold;
  color: gray;
}
.calculator-inputContent {
  /* opacity: 0.65; */
  width: 100% !important;
  padding-top: 1rem;
  padding-bottom: 0rem !important;
  font-size: 3rem;
  border-radius: 10px 10px 0px 0px !important;
  text-align: right !important;
  background-color: #57514e;
  color: white !important;
  font-weight: 200;
}
.calculator-Input {
  width: 100%;
}
.calculator-UI2 {
  display: none;
}
.calculator-UI {
  width: 45%;
  margin-top: 6rem;
  margin-bottom: 4rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.calculator-buttonNumber {
  display: flex;
  flex-wrap: wrap;
  height: 15rem;
}
.calculator-Last {
  width: calc(10%);
  padding-block: 0.5rem;
  border-radius: 1%;
}

.calculator-First {
  width: calc(10%);
  padding-block: 0.5rem;
  border-radius: 1%;
}
.calculator-Secondary {
  background-color: #fe9e0b;
  border-top: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
}
.calculatorGray {
  border-top: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
  background-color: #68625e;
}
.calculatorDark {
  background-color: #817c7b;
  border-top: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
}

.calculator-textRight {
  text-align: right;
}
/* start here  */
.calculatorIcon {
  padding-top: 4rem !important;
}

.toolTip {
  cursor: pointer;
  z-index: 20;
  padding: 0;
  position: relative !important;
  transform: translate(-1%, -500%);
}
.toolTip .toolTipDiv {
  transform: translate(31%, 350%);
}

.calculator-imgDiv {
  transform: translateY(100%) !important;
  position: absolute;
  padding-block: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative !important;
}

.calculator-imgDiv img {
  width: 40px !important;
  height: 40px !important;
}
.toolTip img {
  position: absolute;
}
.toolTip img {
  transform: translate(-320%, 80%) !important;
}
.tooltipText {
  background-color: #353839;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  font-size: 0.75rem;
  color: whitesmoke;
  visibility: hidden;
  transition: opacity 0.5s ease;
  opacity: 0;
  border-radius: 7px;
  left: 100%;
}
.tooltipText::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-1400%);
  border: 15px solid;
  border-color: #353839 #3530 #3530;
}
.toolTip:hover .tooltipText {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}
.calculatorLaptop {
  height: 700px;
  width: 900px;
  z-index: 1;
}
.calculator-largeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.calculator-largeContainer .calculator-rightDesign {
  z-index: 20;
}
.calculator-largeContainer .calculator-leftDesign {
  z-index: 20;
}
.calculator-largeContainer .calculatorSideDesign {
  width: 250px;
  height: 350px;
  transform: translate(0px, -220px);
}
.calculator-smButtons {
  color: black !important;
  position: absolute;
  display: flex;
  gap: 0.45rem !important;
  padding-block: 0 !important;
  margin-left: 0.5rem;
  margin-top: 0.4rem;
  z-index: 100;
}
.calculator-smButtons h1 {
  font-size: 8px !important;
  visibility: hidden;
  transform: translateY(-50%);
}
.calculator-smButtons .calculator-innersmButtons {
  border-radius: 50%;
  background-color: #808080;
  padding-inline: 4px;
  height: 12px;
  margin: auto !important;
}
.calculator-smButtons:hover > div:nth-child(1) {
  background-color: #ff5f57 !important;
  cursor: pointer;
  visibility: visible;
}
.calculator-smButtons:hover > div:nth-child(2) {
  background-color: #febc2e !important;
  cursor: pointer;
  visibility: visible;
}
.calculator-smButtons:hover > div:nth-child(3) {
  background-color: #27c840 !important;
  cursor: pointer;
  visibility: visible;
}
.calculator-smButtons:hover h1 {
  visibility: visible;
}
.calculator-innersmButtons1 h1 {
  color: #cb443d !important;
}
.calculator-innersmButtons2 h1 {
  color: #af8426 !important;
}
.calculator-innersmButtons3 h1 {
  color: #208a2f !important;
}

/* **********JSON*************** */
@media only screen and (max-width: 700px) {
  .userUpperDesign {
    margin-top: 4rem !important;
    object-fit: cover;
  }
  .json-userInformationContent {
    margin-top: 2rem;
    margin-inline: auto;
    width: 80% !important;
    display: flex;
    flex-direction: column !important;
    margin-bottom: 4rem !important;
  }
  .json-userInformationContent h1 {
    padding-inline: 2rem;
    font-weight: 500;
    font-size: 2rem;
  }
  .json-userInformationContent p {
    padding-inline: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2;
    color: #5b5e6e;
  }
  .userUpperDesign img {
    width: 575px !important;
    height: 425px !important;
  }
  .jsonUpperh1 {
    padding-left: 0rem !important;
    text-align: left !important;
    width: 100% !important;
    margin-bottom: 3rem;
  }
  .jsonUpperP {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    justify-content: center !important;
    padding-right: 0rem !important;
    padding-left: 1rem !important;
  }
}
.json-Main {
  margin: auto;
}
/* start here  */
.userUpperDesign {
  object-fit: cover;
  margin-top: 4rem !important;
}
.json-userInformationContent {
  margin-inline: auto;
  width: 80% !important;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem !important;
}
.json-userInformationContent h1 {
  font-weight: 500;
  font-size: 2rem;
  color: #323648;
  font-weight: 600;
}
.json-userInformationContent p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
  color: #5b5e6e;
}
.userUpperDesign img {
  width: 1425px;
  height: 800px;
}
.jsonUpperh1 {
  padding-left: 2rem;
  text-align: center !important;
  width: 40%;
}
.jsonUpperP {
  width: 60%;
  padding-right: 10rem;
}
.JSON-innerContainer {
  margin: auto;
  width: 80%;
}
.json-insideMain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.json-Card {
  width: 10rem;
  margin: 10px; /* Adjust as needed */
  background: white !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
}
.cardInnerContainer {
  margin-top: 1.5rem;
  line-height: 0.75;
  visibility: hidden !important;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease; /* Add a transition for a smoother effect */
}
.json-Card:hover .cardInnerContainer {
  visibility: visible !important;
  opacity: 1;
  cursor: pointer;
}
.json-Card:hover {
  opacity: 1;
  color: black;
}
.hello {
  position: absolute;
  visibility: visible;
  line-height: 0.1;
  padding-right: 1rem;
  margin-right: 0.5rem;
}
.hello h1 {
  line-height: 1.25;
  font-weight: 400;
  font-size: 0.95rem;
}
.hello h5 {
  font-size: 0.85rem;
}
.json-Card:hover .hello {
  visibility: hidden;
  transition: opacity 2s ease;
  opacity: 0;
}
.JSON-profileImage {
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  background-color: #ccc; /* Add background color or image */
  margin-right: 10px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.JSON-profileImage img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.JSON-userProfile {
  display: flex;
  align-items: center;
  /* align-items: center; */
}
.jsonContainer {
  position: relative;
  padding-bottom: 0rem !important;
  margin-bottom: 0rem !important;
}
.JSON-innerContainer {
  position: relative;
  width: 70%;
  z-index: 5;
}
.userUpperDesign {
  position: relative;
  transform: translateY(-75%);
  z-index: 1;
}

/* **********HOBBY************** */
@media only screen and (max-width: 800px) {
  .hobby-Main {
    background-color: white;
  }
  .hobby-upperDiv {
    background-color: white;
  }
  .hobby-innerUpperDiv {
    width: 45% !important;
  }
  .hobby-innerUpperDiv h1 {
    font-weight: 200;
    font-family: sans-serif;
  }
  .hobby1-imageContainer,
  .hobby2-imageContainer {
    height: 400px !important;
    overflow: hidden;
    transition: 0.5s ease;
    transform: scale(1);
    margin-right: auto;
    margin-left: auto;
    width: 80% !important;
  }
  .hobby1-imageContainer:hover,
  .hobby2-imageContainer:hover {
    transform: scale(0.95);
  }
  .hobbyCenter1,
  .hobbyCenter2,
  .hobbyCenter3 {
    margin: auto;
    width: 80% !important;
    padding-top: 1rem;
    padding-bottom: 3rem !important;
  }
  .hobbyh1-1,
  .hobbyh1-2,
  .hobbyh1-3 {
    font-family: sans-serif;
    font-size: 1.5rem !important;
  }
  .hobbyh2-1,
  .hobbyh2-2,
  .hobbyh2-3 {
    font-family: sans-serif;
    font-size: 1.5rem !important;
    color: gray;
  }
  .hobby-Img1,
  .hobby-Img2 {
    transition: 0.5s ease;
    width: 500px !important;
    height: 400px !important;
    transform: scale(1);
    cursor: pointer;
  }
  .hobby-Img1:hover,
  .hobby-Img2:hover {
    transform: scale(1.3);
  }
  .hobby-lowerDiv {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column !important;
    gap: 2rem;
  }
  .hobbyLower-Innerdiv {
    width: 100%;
  }

  .hobby-lowerDiv img {
    width: 400px !important;
    height: 400px !important;
    object-fit: cover;
  }

  .hobby-lowerDiv div {
    width: 100%;
    height: 100%;
  }
  .hobby-Img4 {
    height: 420px !important;
  }
  .hobbyh1-sm {
    font-size: 1.2rem !important;
    font-weight: 500;
  }
  .hobbyh2-sm {
    font-size: 1rem !important;
    font-weight: 500;
  }

  .hobby-Footer {
    display: flex;
    gap: 4rem;
    margin: auto;
    width: 80%;
  }
  .hobby-Footer h4 {
    font-size: 1rem;
    font-family: sans-serif;
  }

  .hobby-Footer h5 {
    font-size: 0.8rem;
    font-weight: bold;
    color: gray;
  }

  .hobby-Footer div {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .hobby-labelName a {
    color: black;
  }

  .hobby-smImg1,
  .hobby-smImg2 {
    height: 400px !important;
    width: 400px !important;
  }
  .hobby-Img3 {
    width: 100% !important;
    height: 350px !important;
    margin-bottom: 6rem;
  }
}

.hobby-Main {
  height: auto;
}

.hobby-Innermain {
  width: 80%;
  margin: auto;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: flex-end;
}
.hobby-Nav {
  padding-top: 6rem;
  font-family: sans-serif;
}

.hobby-Calculator,
.hobby-JSON {
  color: black;
  font-size: 1.5rem;
  border: transparent;
  background-color: transparent;
}
.hobby-Calculator:active {
  text-decoration: line-through;
}

.hobby-JSON:hover,
.hobby-Calculator:hover {
  cursor: pointer;
  color: black;
  text-decoration: line-through;
  background-color: transparent;
}

.hobby-JSON:after,
.hobby-Calculator:after {
  background-color: transparent;
}
.hobby-innerUpperDiv {
  width: 30%;
}

.hobby-innerUpperDiv h1 {
  font-weight: 400;
  font-family: sans-serif;
}
.hobby1-imageContainer,
.hobby2-imageContainer {
  width: auto;
  height: 800px;
  overflow: hidden;
  transition: 0.5s ease;
  transform: scale(1);
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.hobby1-imageContainer:hover,
.hobby2-imageContainer:hover {
  transform: scale(0.95);
}
.hobbyCenter1,
.hobbyCenter2,
.hobbyCenter3 {
  margin: auto;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.hobbyh1-1,
.hobbyh1-2,
.hobbyh1-3 {
  font-family: sans-serif;
  /* font-weight: bold; */
}
.hobbyh2-1,
.hobbyh2-2,
.hobbyh2-3 {
  font-family: sans-serif;
  color: gray;
}
.hobby-Img1,
.hobby-Img2 {
  transition: 0.5s ease;
  transform: scale(1);
  cursor: pointer;
}
.hobby-Img1,
.hobby-Img2 {
  width: 1300px;
  height: 750px;
}
.hobby-Img3 {
  width: 100%;
  height: 700px;
  margin-bottom: 6rem;
}
.hobby-Img1:hover,
.hobby-Img2:hover {
  transform: scale(1.3);
}

.hobby-lowerDiv {
  margin: auto;
  width: 80%;
  display: flex;
  gap: 2rem;
}

.hobbyLower-Innerdiv {
  width: 100%;
}

.hobby-lowerDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

.hobby-lowerDiv div {
  width: 100%;
  height: 100%;
}
.hobby-Img4 {
  height: 420px !important;
}
.hobbyh1-sm {
  font-size: 1.5rem;
  font-weight: 500;
}
.hobbyh2-sm {
  font-size: 1.5rem;
  font-weight: 500;
}

.hobby-Footer {
  display: flex;
  gap: 4rem;
  margin: auto;
  width: 80%;
}
.hobby-Footer h4 {
  font-size: 1rem;
  font-family: sans-serif;
}

.hobby-Footer h5 {
  font-size: 0.8rem;
  font-weight: bold;
  color: gray;
}

.hobby-Footer div {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.JSON-userProfile {
  display: flex;
  align-items: center;
}
.hobby-labelName a {
  color: black;
}

.hobby-smImg1,
.hobby-smImg2 {
  height: 550px !important;
  width: 550px !important;
}
/* *******NavBar***************** */
@media only screen and (max-width: 800px) {
  .fixed-navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 3rem !important;
    flex-direction: column;
    z-index: 1000;
  }
  .innerFixed-navbar {
    background-color: #333; /* Green */
    border: none;
    color: white;
    padding: 30px;
    left: 0 !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px !important;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    padding-inline: 2rem;
    transform: translateX(540%) !important;
  }
  .navHouse {
    color: white !important;
    height: 20px !important;
    width: 20px !important;
  }
}
.fixed-navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 5rem;
  flex-direction: column;
  z-index: 1000;
}
.fixed-navbar:hover {
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
}
.innerFixed-navbar {
  background-color: #333; /* Green */
  border: none;
  color: white;
  padding: 30px;
  left: 0 !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  padding-inline: 2rem;
  transform: translateX(1300%);
}
.navHouse {
  color: white !important;
  height: 30px;
  width: 30px;
}
